git+https://github.com/AUSSDA/pyDataverse.git@develop
mkwikidata
jwt
langcodes
langdetect
wikipedia-api
nltk
config
xlrd
duckdb
accelerate
transformers
bitsandbytes==0.40.2
scipy
pdfkit
xlsxwriter
#pydataverse
pydantic
python-Levenshtein
arrow
rdflib
datefinder
asyncio
pymongo
elasticsearch==6.3
pandas
aiofiles
jinja2==3.0.3
pandas
future==0.17.1
bs4
lxml
langdetect
readabilipy
doccano-client
#psycopg2
redis
pandas
yachalk
langchain
GPT4All 
chromadb
